{
  "extends": [
    "@rocketseat/eslint-config/react"
  ],
  "globals": {
    "JSX": true
  },
  "rules": {
    "camelcase": "off",
    "no-unused-expressions": "error",
    "no-use-before-define": [
      "off",
      {
        "functions": true,
        "classes": false,
        "variables": true,
        "allowNamedExports": false
      }
    ]
  }
}